@font-face {
    font-family: 'texto';
    src: url('../../assets/fontes/BernhardGothicURW-Heavy.ttf'), format('ttf');
}

#root{
    width: 100%;
}

.main-coletasRecebidas{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.container-materias-primas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    font-size: 20px;
    font-family: 'title';
    margin-left: 5%;
    margin-top: 3%;
    gap: 25px;
}

.container-materias-primas span:hover {
    cursor: pointer;
    color: #653024;
    font-family: 'title';
}

h1 {
    font-family: 'title';
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 2%;
}

.form-filtro {
    display: flex;
    justify-content: space-around;
}

.form-filtro div {
    display: flex;
    justify-content: space-between;
}

.formColeta fieldset {
    margin-left: 0;
}

.inativo {
    display: none;
}

/*  -------------------------------- cabeçalho de coletas recebidas  --------------------------------------------*/

.titulo-form {
    padding: 25px;
}

.div-titulo {
    display: flex;
}

.titulo-form h1 {
    margin: 55px 15px;
    color: var(--grayscale-900, #151313);
    text-align: center;

    /* Header/Subtitle */
    font-family: 'title';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 145.455% */
    letter-spacing: -0.66px;
}

.titulo-form h2 {
    margin-bottom: 40px;
    color: var(--grayscale-900, #151313);
    font-family: 'title';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.form-filtro {
    display: flex;
    gap: 24px;
}

.form-filtro div {
    display: flex;
}


/* -------------------------------------- Card de coletas já recebidas -------------------------------------*/

.coleta {
    margin-right: 8%;
    border-radius: 32px;
    background: var(--grayscale-000, #f0ecec);
    box-shadow: 0px 3px 18px 0px rgba(255, 14, 14, 0.07);
    min-width: 20vw;
}

.coleta div {
    display: grid;
    grid-template-areas:
        "imagem nome data"
        "imagem quantidade preco"
    ;
}

#imagem {
    grid-area: imagem;
    align-self: center;
    margin-left: 15px;
}

#nome {
    grid-area: nome;
}

#data {
    grid-area: data;
}

#quantidade {
    grid-area: quantidade;
}

#preco {
    grid-area: preco;
}